* {
  box-sizing: border-box;
}

#contentDiv {
  background: white;
  margin-top: 4rem;
  overflow: hidden;
}
.product-container {
  width: 50%;
  margin: 30px auto;
  border: 1px solid black;
}
.imgPath {
  width: 200px;
  height: 200px;
}
.product-title {
  margin: 0 0 0.5rem 0;
  padding: 0.2rem 1rem 0.25rem 0;
  border-bottom: 2px solid #d9bf77;
  font-weight: normal;
  font-family: "Prata", serif;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.product-description {
  margin: 0;
  padding: 15px;
}
.product-price {
  font-weight: 700;
  color: #fff;
  font-size: 1.5em;
  font-family: "Prata", serif;
  text-shadow: 1px 1px 3px #000000;
}
/* .buy {
  padding: 5px 15px;
  background: #d9bf77 !important;
  border: 1px solid #d9bf77 !important;
  color: #fff;
  transition: transform 0.2s;
  margin-top: 43%;
}
.buy:hover {
  transform: scale(1.1);
} */
